.about {
    margin-top: 67px;
    .container {
        width: 1111px;
        height: 640px;
        background-image: url("../img/rasm1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__h1 {
        width: 540px;
        height: 165px;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Jost";
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        margin-top: 145px;
        margin-left: 95px ;
        display: inline-block;

    }

    &__text {
        width: 445px;
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: "normal";
        font-weight: 400;
        line-height: 26px;
        margin-top: -30px;
        margin-left: 95px ;

    }

    .button {
        width: 152px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        background-color: #FFF;
        border: 2px solid #FFF;
        margin-top: 30px;
        margin-left: 95px ;
    }

}