.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list {
        display: flex;
        .nav__item + .nav__item {
            padding-left: 33px;
        }
    }
    .nav__link {
        color: #83888F;
        font-family: "Barlow";
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;
    }
    .nav__link:hover {
        color: #333D4B;
    }
}